@import "tailwindcss";



@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-primary: #080c0a;
  --color-secondary: #7C8A79;
  --color-accent: #1F2E25;
  --color-muted: #444D4C;
  --color-neutral: #CDD2D0;
  --color-base: #454F4E;
}




